@*Define model*@
@model IEnumerable<Vendedor>

@*Define ViewData*@
@{
    ViewData["Title"] = "Lista de Vendedores";
}

@*write code*@
<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Lista de todos vendedores</h4>
        </p>

        <table class="table text-center">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Imoveis - Endereços</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">@item.Nome</td>
                        <td class="align-middle">@item.Telefone</td>

                        <td class="align-middle">
                            <ul style="list-style-type:none">
                                @foreach (var imoveis in item.Imoveis)
                                {
                                    <li>
                                        <div class="p-1" role="">
                                            <span class="badge bg-primary">- @imoveis.Logradouro, @imoveis.Numero - @imoveis.Cidade, @imoveis.Estado</span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
